*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

body{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    width:100%;
    height:100%;
}
.main
{
  
    width:100%;
    height:100%;
    position:absolute;
    overflow: hidden;
    background-color: #f9f9f9;
}

.output
{
    height:15%;
    background-color:#F9F9F9;
    position: relative;
}
#chef
{
    position:absolute;
    top:10%;
    left:3.5%;
    height:90%;
    width:auto;
}
#level
{
    position:absolute;
    left:80%;
    top:38%;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #00A1C2;
}
#hint
{
    position:absolute;
    left:12%;
    top:35%;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #00a1c2;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    border: 5px solid #ddd;
    background-color: #fff;
    transition: 0.1s;
}

#hint:hover
{
    font-size: 21px;
    font-weight: 600;
    color: #00778F;
}


#hinttext:hover
{
    font-size: 22px;
    font-weight: 600;
    color: #00778F;
}

.emoticons
{
    position:absolute;
    left:80%;
    top:45%;
}

#worktable
{
    border-radius: 10px;
    width: 100%;
    height: 60%;
    background-color: #45D0E2;  
}
#workbench
{
    height:25%;
    background-color:#F9F9F9;
    position: relative;
    margin-bottom: 20px;
}

.bottom-box{
    height: 100%;
    text-align: center;
}


.reactant-box-1{
    position: absolute;
    left: 12%;
    top: 10%;
}
.reactant-box-2{
    position: absolute;
    left: 32%;
    top: 10%;
}
.product-box-1{
    position: absolute;
    left: 59%;
    top: 21%;
}
.product-box-2{
    position: absolute;
    left: 80%;
    top: 21%;
}
.reactant-badge{
    position: absolute;
    left: -35%;
    top: 25%;
    width: 35px;
    height: 35px;
    background-color: white;
    border: 5px solid #343434;
    text-align: center;
    line-height: 35px;
    font-weight: 700;
    font-size: 1.3em;
    border-radius: 20%;
}
.product-badge{
    position: absolute;
    left: -60%;
    top: 15%;
    width: 35px;
    height: 46px;
    color: white;
    text-align: center;
    line-height: 35px;
    font-weight: 700;
    font-size: 1.3em;
    background-image: url(../svg/svg-badge.svg)
}

.shadow{
                -webkit-transition: 0.2s; /* For Safari 3.1 to 6.0 */
    transition: 0.2s;
}
.shadow:hover {
    -webkit-filter: drop-shadow( 6px 6px #00A1C2 );
            filter: drop-shadow( 6px 6px #00A1C2 ); /* Same syntax as box-shadow */
}



.pic {
	border: none;
	background-color: rgba(0,0,0,0);
}
.reactant-minus-button{
    position: absolute;
    left: 105%;
    top: 29.5%;
    background-color: #FA645A;
    height: 30px;
    width: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
    font-size: 1.7em;
    border-radius: 15px;
         -webkit-transition: 0.1s; /* For Safari 3.1 to 6.0 */
    transition: 0.1s;
}
.reactant-minus-button:hover{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: solid 4px #343434;
}

.product-minus-button{
    position: absolute;
    left: 118%;
    top: 19%;
    background-color: #FA645A;
    height: 30px;
    width: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
    font-size: 1.7em;
    border-radius: 15px;
             -webkit-transition: 0.1s; /* For Safari 3.1 to 6.0 */
    transition: 0.1s;
}
.product-minus-button:hover{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: solid 4px #343434;
}
.overlay {
    height: 100%;
    width: 0%;
    position: fixed; 
<<<<<<< Updated upstream
    z-index: 3; 
=======
    z-index: 100; 
>>>>>>> Stashed changes
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.95); 
    overflow-x: hidden; 
/*    transition: 0.5s; */
}
.overlay-img{
    position: absolute;
    width: 13%;
    top: 32%;
    left: 15%;
}
.overlay-bubble{
    position: absolute;
    width: 50%;
    height: 100px;
    top: 38%;
    left: 32%;
    background-color: #45D0E2;
    border-radius: 25px;
    /* Great job! Click her: */
    font-family: .SFNSText-Medium;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: -0.19px;
    line-height: 100px;
    text-align: center;   
}
.overlay-bubble:hover{
    background-color: #00a1c2;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    display: block;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    font-weight: 300;
    color: #807e7e;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay a:hover, .overlay a:focus {
    color: #343434;
}
