
.input {
    border: 5px solid black;
    background-color: burlywood;
    padding-top: 20%;
}

.output {
    border: 5px solid black;
    background-color: burlywood;
    padding-top: 20%;
}

.worktable {
    border: 5px solid black;
    background-color:beige;
    padding-top: 40%;
}

body {
    margin: auto;
    width: 1000px;
    height: 800px;
}

.main {
    margin: auto;
    height: 600px;
    width: 800px;
}

canvas, img { 
    display:block; 
    margin:1em auto; 
    border:1px solid black; 
    width: 1000px;
    height: 800px;
}

/*canvas {
    z-index: 1;
    width:100%;
    height: 100%;
}*/

#H20 {
    width: 150px; 
    height: 150px;
    padding: 0.5em;
    background-color:blue;
}

#H2 {
    position: relative;
    width: 80px; 
    height: 80px;
    padding: 0.5em;
    background-color:cornflowerblue;
}

#O2 {
    position: relative;
    left: 120px;
    top: -100px;
    width: 100px; 
    height: 100px;
    padding: 0.5em;
    background-color:deepskyblue;
}
