*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
input,button,select,textarea{outline:none}
body{
    background-color: #f9f9f9;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    width:100%;
    height:100%;
}
#main
{
  
    width:100%;
    height:100%;
    position:absolute;
    overflow: hidden;
    background-color: #f9f9f9;
}

#output
{
    height:15%;
    background-color:#F9F9F9;
    position: relative;
}
#chef
{
    position:absolute;
    top:10%;
    left:3.5%;
    height:90%;
    width:auto;
}
#level
{
    position:absolute;
    left:75%;
    top:38%;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #00A1C2;
}
#hint
{
    position:absolute;
    left:12%;
    top:35%;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #00a1c2;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    border: 5px solid #ddd;
    background-color: #fff;
    transition: 0.1s;
}

#hint:hover
{
    font-size: 21px;
    font-weight: 600;
    color: #00778F;
    cursor: pointer;
}


#hinttext:hover
{
    font-size: 22px;
    font-weight: 600;
    color: #00778F;
}

.emoticons
{
    position:absolute;
    left:80%;
    top:45%;
}

#worktable
{
    border-radius: 10px;
    width: 100%;
    height: 50%;
    background-color: #45D0E2;  
}
#workbench
{
    height:35%;
    position: relative;
    margin-bottom: 20px;
    background-image: url(../img/shelf.svg);
    background-repeat: no-repeat;
    background-position: 10%;
}

.bottom-box{
    height: 100%;
    text-align: center;
}


.reactant-box-1{
    position: absolute;
    left: 12%;
    top: 15%;
    cursor: pointer;
}
#winOverlay .reactant-box-1{
    top: 15%;
    width: 15%;
}
.reactant-box-2{
    position: absolute;
    left: 32%;
    top: 15%;
    cursor: pointer;
}
#winOverlay .reactant-box-2{
    top: 15%;
    width: 15%;
}
.product-box-1{
    position: absolute;
    left: 59%;
    top: 21%;
    cursor: pointer;
}
.product-box-2{
    position: absolute;
    left: 80%;
    top: 21%;
    cursor: pointer;
}
.reactant-badge{
    position: absolute;
    left: -35%;
    top: 20%;
    width: 35px;
    height: 35px;
    color: black;
    background-color: white;
    border: 5px solid #343434;
    text-align: center;
    line-height: 35px;
    font-weight: 700;
    font-size: 1.1em;
    border-radius: 20%;
    cursor: default;
}
#winOverlay .reactant-badge{
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 32px;
}
.product-badge{
    position: absolute;
    left: -55%;
    top: 5%;
    width: 35px;
    height: 46px;
    color: white;
    text-align: center;
    line-height: 35px;
    font-weight: 700;
    font-size: 1.1em;
    background-image: url(../svg/svg-badge.svg);
    cursor: default;
}
#winOverlay .product-badge{
    font-size: 20px;
    top: 15%
}
.shadow{
    cursor: hand;
    cursor: pointer;
    -webkit-transition: 0.2s; /* For Safari 3.1 to 6.0 */
    transition: 0.2s;
}
.shadow:hover {
    -webkit-filter: drop-shadow( 6px 6px #00A1C2 );
            filter: drop-shadow( 6px 6px #00A1C2 ); /* Same syntax as box-shadow */
}

.pic {
	border: none;
	background-color: rgba(0,0,0,0);
}

.reactant-minus-button{
    position: absolute;
    left: -33%;
    top: 45%;
    background-color: #FA645A;
    height: 30px;
    width: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
    font-size: 1.7em;
    border-radius: 50px;
         -webkit-transition: 0.1s; /* For Safari 3.1 to 6.0 */
    border: solid 4px rgba(0,0,0,0);
    transition: 0.1s;
}
.reactant-minus-button:hover{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: solid 4px #343434;
    cursor: pointer;
}

.product-minus-button{
    position: absolute;
    left: -55%;
    top: 30%;
    background-color: #FA645A;
    height: 30px;
    width: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
    font-weight: 400;
    font-size: 1.7em;
    border-radius: 50px;
             -webkit-transition: 0.1s; /* For Safari 3.1 to 6.0 */
    border: solid 4px rgba(0,0,0,0);
    transition: 0.1s;
}
.product-minus-button:hover{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: solid 4px #343434;
    cursor: pointer;
}
.overlay {
    height: 100%;
    width: 100%;
    position: fixed; 
    z-index: 3; 
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.95); 
    overflow-x: hidden; 
/*    transition: 0.5s; */
}

.reactant-label {
    height:36px;
    width:119px;
    position:absolute;
    left:10%;
    top:60%;
    border: solid 4px #4990E2;
    border-radius: 10px;
    background-color: white;
}

.product-label {
    height:36px;
    width:119px;
    position:absolute;
    left:0%;
    top:49%;
    border: solid 4px #4990E2;
    border-radius: 10px;
    background-color: white;
    
}


.overlay-img{
    position: absolute;
    width: 13%;
    top: 32%;
    left: 7%;
}

.overlay-bubble{
    position: absolute;
    width: 60%;
    top: 34%;
    left: 22%;
    background-color: #45D0E2;
    border-radius: 25px;
    /* Great job! Click her: */
    font-family: .SFNSText-Medium;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: -0.19px;
    text-align: left;  
    /*padding: 30px 50px;*/
    padding: 50px 50px 30px 50px;
}

.overlay-bubble p {
    position: relative;
    font-size: 22px;
    top: 90%;
}

.overlay #closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    display: block;
    cursor: pointer;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    font-weight: 300;
    color: #807e7e;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay a:hover, .overlay a:focus {
    color: #343434;
}

/* Win Overlay */

#winOverlay .overlay-bubble{
    width: 80%;
    top: 32%;
    left: 6%;
    height: 20%;
    text-align: center;
}
#winOverlay .overlay-bubble product-badge{
    font-size: 10px;
}
#winOverlay .overlay-img{
    position: absolute;
    width: 10%;
    top: 14%;
    left: 8%;
}

#winOverlay .win_text {
    font: sans-serif;
    font-size: 1.6em;
    color: #00a1c2;
    position: absolute;
    top: 23%;
    left: 20%;   
}

#winOverlay .button-home{
    position: relative;
    top: 67%;
    left: 69%;
}
#winOverlay .button-replay{
    position: relative;
    top: 67%;
    left: 65%;
}
#winOverlay .button-icon {
    width: 30px;
}
#winOverlay .button-text{
    position: relative;
    color: #45d0e2;
    line-height: 30px;
    margin-left: 15px;
    padding-bottom: 10px;
    bottom: 5px;
}
#winOverlay .button-text:hover{
    color: #00a1c2;
    cursor: pointer;
}

.index_main{
    width: 100%;
    height: 100%;
    position: absolute;
}

.index_main a{
    text-decoration: none;
    color: white;
    display: block;
}

.index_logo{
    position: absolute;
    top: 25%;
    left: 35%;
    width: 30%;
}
.index_button{
    position: absolute;
    left: 35%;
    width: 30%;
    padding: 20px 30px;
    background-color: #45D0E2;
    border: none;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    border-radius: 15px;
    cursor: hand;
}
.tutorial{
    top: 45%;
}
.start{
    top: 60%;
}
.button{
    color: white;
}
/*Level Selction Page*/
.level_main{
    position: relative;
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    text-align: center;
}
.level_main p{
    position: absolute;
    left: 15%;
    top: 100px;
    font-size: 1.7em;
    color: #00a1c2;
}
.level_box{
    position: absolute;
    top: 25%;
    left: 15%;
    width: 70%;
}
/*Change the background-image url to pot2.svg is the level is locked*/
.pot_box{
    background-image: url(../svg/pot2.svg);
    background-repeat: no-repeat;
    color: #45D0E2;
    font-size: 1.5em;
    text-align: center;
    line-height: 100px;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 30px;
    margin-top: 30px;
}
.pot_box_unlocked{
    background-image: url(../svg/pot1.svg);
}
#tutorialOverlay1{
    width: 100%;
}
#tutorialOverlay2{
    width: 100%;
    height: 75%;
}
/*Arrow animation*/
.arrow{
    background-image: url(../svg/arrow.svg);
    background-repeat: no-repeat;
    height: 45px;
    width:45px;
    position: absolute;
    display: inline-block;
    -webkit-animation-name: arrow_animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: arrow_animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes arrow_animation {
    0% {top: 90%;}
    50% {top: 88%;}
    100% {top: 90%;}
}

@keyframes arrow_animation {
    0% {top: 90%;}
    50% {top: 88%;}
    100% {top: 90%;}

}
#arrow1{
    left: 16%;
}
#arrow2{
    left: 35.7%;
}
#arrow3{
    left: 61.5%;
}
#arrow4{
    left: 82.2%;
}
#home
{
    position:absolute;
    left:90%;
    top:35%;
}

#home:hover
{
    cursor: pointer;
    content:url(../svg/svg-home-icon-shadow.svg);
}

#reset
{
    position: absolute;
    left:94%;
    top:35%;
}

#reset:hover
{
    cursor: pointer;
    /*content: url(../svg/svg-reset-icon-shadow.svg);*/
}
