
#input {
    border: 5px solid black;
    background-color: burlywood;
    padding-top: 20%;
}

#output {
    border: 5px solid black;
    background-color: burlywood;
    padding-top: 20%;
}

#worktable {
    border: 5px solid black;
    background-color:beige;
    padding-top: 40%;
}

body {
    margin: auto;
    width: 1000px;
    height: 800px;
}

.main {
    margin: auto;
    height: 600px;
    width: 800px;
}

.reactant {
    display: inline-block;  
    position: relative;
    width: 80px; 
    height: 80px;
    padding: 0.5em;
    background-color:cornflowerblue;  
    margin-left: 10px;
}

.product {
    display: inline-block;  
    position: relative;
    width: 120px; 
    height: 120px;
    padding: 0.5em;
    background-color:blue;  
    margin-left: 10px;
}

.reactantView {
    width: 80px; 
    height: 80px;
    padding: 0.5em;
    background-color:blueviolet;  
}

.productView {
    width: 100px; 
    height: 100px;
    padding: 0.5em;
    background-color:darkred;
}

#finishButton {
    background-color: red;
    color: white;
}
