*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}


body{
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    width:100%;
    height:100%;
}
.main
{
  
    width:100%;
    height:100%;
    position:absolute;
    overflow: hidden;
    background-color: #f9f9f9;
}

.output
{
    height:15%;
    background-color:#F9F9F9;
    position: relative;
}
#chef
{
    position:absolute;
    top:10%;
    left:3.5%;
    height:90%;
    width:auto;
}
#level
{
    position:absolute;
    left:80%;
    top:18%;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #00A1C2;
}
#hint
{
    position:absolute;
    left:12%;
    top:35%;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #00a1c2;
    padding: 10px 20px 10px 20px;
    border-radius: 100px;
    border: 5px solid #ddd;
    background-color: #fff;
    transition: 0.1s;
}

#hint:hover
{
    font-size: 21px;
    font-weight: 600;
    color: #00778F;
}


#hinttext:hover
{
    font-size: 22px;
    font-weight: 600;
    color: #00778F;
}

.emoticons
{
    position:absolute;
    left:80%;
    top:45%;
}

#worktable
{
    border-radius: 10px;
    width: 100%;
    height: 60%;
    background-color: #45D0E2;  
}
#workbench
{
    height:25%;
    background-color:#F9F9F9;
    position: relative;
    margin-bottom: 20px;
}

.bottom-box{
    height: 100%;
    text-align: center;
}

.bottom-box{
            -webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
    transition: 0.1s;
}
.reactant-box-1{
    position: absolute;
    left: 13%;
    top: 10%;
}
.reactant-box-2{
    position: absolute;
    left: 33%;
    top: 10%;
}
.product-box-1{
    position: absolute;
    left: 60%;
    top: 20%;
}
.product-box-2{
    position: absolute;
    left: 80%;
    top: 20%;
}
.reactant-badge{
    position: absolute;
    left: -35%;
    top: 25%;
    width: 35px;
    height: 35px;
    background-color: white;
    border: 5px solid #343434;
    text-align: center;
    line-height: 35px;
    font-weight: 700;
    font-size: 1.3em;
    border-radius: 20%;
}
.product-badge{
    position: absolute;
    left: -60%;
    top: 15%;
    width: 35px;
    height: 46px;
    color: white;
    text-align: center;
    line-height: 35px;
    font-weight: 700;
    font-size: 1.3em;
    background-image: url(../svg/svg-badge.svg)
}

.bottom-box:hover {
    -webkit-filter: drop-shadow( 4px 4px #00A1C2 );
            filter: drop-shadow( 4px 4px #00A1C2 ); /* Same syntax as box-shadow */
}


.pic4:hover {
    -webkit-filter: drop-shadow( 4px 4px #00A1C2 );
            filter: drop-shadow( 4px 4px #00A1C2 ); /* Same syntax as box-shadow */
}

.pic {
	border: none;
	background-color: rgba(0,0,0,0);
}
